stages:
  - test

.tests_template: &tests_template
  before_script:
    - pip install tox
    - apk add build-base git
  stage: test
  script: tox
  tags:
    - hc-bladerunner

python37:
  <<: *tests_template
  image: python:3.7-alpine
  script: tox -e py37

python38:
  <<: *tests_template
  image: python:3.8-alpine
  script: tox -e py38

python39:
  <<: *tests_template
  image: python:3.9-alpine
  script: tox -e py39

python310:
  <<: *tests_template
  image: python:3.10-alpine
  script: tox -e py310

python311:
  <<: *tests_template
  image: python:3.11-alpine
  script: tox -e py311

test-style:
  <<: *tests_template
  image: python:3.9-alpine
  script:
    - tox -e flake8
    - tox -e pre-commit
