name: Code Style

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/test.txt
          pip install tox tox-gh-actions
          sudo apt install build-essential
      - name: flake8 with tox
        run: tox -e flake8
      - name: black with tox
        run: tox -e black
