name: Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9, "3.10", "3.11.0-rc.2" ]
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements/test.txt
            pip install tox tox-gh-actions
            sudo apt install build-essential
      - name: Test with tox
        run: tox
        env:
          PLATFORM: ${{ matrix.platform }}
